@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

@layer base {
    body {
      @apply font-[Poppins] tracking-wide p-0 m-0;
    }

    h1, h2, h3, h4, h5, h6 {
      @apply font-[Poppins] font-bold;
    }

    h1 {
      @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
    }

    h2 {
      @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl;
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
        @apply hover:text-cyan-500;
        @apply font-[Poppins];
        @apply text-lg;

    }
 
    button{
        @apply  rounded-xl uppercase bg-gradient-to-r from-cyan-500 to-cyan-600 text-white hover:from-cyan-600 hover:to-cyan-700;
    }
}